################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/mp.ce.fdid.FdidProjetos/obj/Release/netcoreapp2.0/PubTmp/Out/wwwroot/doc
/mp.ce.fdid.FdidProjetos/obj/Release/netcoreapp2.0/PubTmp/Out/appsettings.json
